:root {
  --clr-accent: rgb(118, 202, 198);
}

body {
  font-family: Inter, sans-serif;
  -webkit-print-color-adjust: exact;
}

@media print {
  hr {
    visibility: hidden;
    page-break-after: always;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

th {
  border-block-start: 0;
  border-inline-start: 0;
}
th:last-of-type {
  border-inline: 0;
}

tbody tr:nth-child(odd) {
  background: rgba(66, 197, 164, 0.1);
}

blockquote {
  background: rgba(0, 0, 0, 0.01);
  border-left: solid 4px var(--clr-accent);
  padding: 1px 16px;
  margin-left: 8px;
  border-radius: 4px;
  font-style: italic;
}

.landscape {
  writing-mode: tb-rl;
  height: calc(100vh - 8px);
  width: 100%;
  @page {
    size: landscape;
  }
}
